.about-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5em 15% 5em 15%;
  gap: 20px;
  background: #fff url(../../assets/vector/bggg.svg) no-repeat left top;
  background-size: contain;
}
.about-container-des {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px 5% 25px 5%;
  border-radius: 80px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}
.about-heading {
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 800;
  color: #222222;
  text-transform: uppercase;
}
.about-para {
  font-family: Montserrat;
  text-align: justify;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
}
.about-subheading {
  text-align: start;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 22px;
  margin-top: 20px;
}
