/*! ===HOME HERO SECTION=== */
.main-container {
  background-color: #fff;
  height: 100vh;
}
.checkout-container {
  display: flex;
  width: 100%;
}
.checkout-navbar-container {
  background-color: var(--blue);
  margin-bottom: 30px;
}
.center-img {
  /* margin-right: -50px; */
  margin-left: 90px;
}
.col-one,
.col-two {
  display: flex;
}
.col-one {
  padding-left: 80px;
  align-items: center;
  width: 50%;
}
.headphone-image {
  width: 55%;
  transition: transform 1.5s;
}

.headphone-image:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
  cursor: pointer;
}

.col-two {
  width: 50%;
  justify-content: center;
  flex-direction: column;
}
.product-heading {
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 300;
  text-decoration: none;
}
.rating-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.product-by {
  font-size: 14px;
}
.product-by span {
  color: rgb(235, 77, 77);
}
.rating {
  width: 20px;
  height: 20px;
}
.rating-empty {
  width: 17px;
  height: 17px;
}
.product-price {
  font-family: Montserrat;
  font-size: 22px;
  margin-bottom: 20px;
}
.product-description-checkout {
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
}

.col-two p {
  width: 70%;
  font-family: Montserrat;
  letter-spacing: 1px;
}

/*! ===HOME HERO SECTION===END== */
.table-parent {
  padding: 20px 30% 0px 0px;
}
.table-container {
  border: solid rgb(235, 235, 235) 2px;
  border-radius: 20px;
}
.row-1,
.row-2,
.row-3,
.row-4 {
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: solid rgb(235, 235, 235) 2px;
}
.row-4 {
  border-bottom: none;
}
.icon-row-1 {
  width: 30px;
  color: rgb(231, 95, 95);
}
/* ---------------------- */
.icon-container {
  display: flex;
  padding-top: 20px;
  gap: 40px;
}
.icon-col-1,
.icon-col-2,
.icon-col-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.icon-image {
  width: 50px;
}
.icon-para {
  font-size: 12px;
  font-weight: 600;
}

/* =============== */
.pay-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 15px 10px 15px;
  width: 200px;
  border: solid 2px var(--blue);
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s;
}
.pay-btn a {
  color: var(--blue);
  text-decoration: none;
}
.pay-btn:hover {
  transform: scale(0.95);
}
.pay-btn:active {
  transform: scale(0.9);
}
