/*! ===HOME HERO SECTION=== */
.checkout-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
}
.col-one,
.col-two {
  display: flex;
}
.col-one {
  padding-left: 80px;
  align-items: center;
  width: 50%;
}
.headphone-image {
  width: 55%;
  transition: transform 1.5s;
}

.headphone-image:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
  cursor: pointer;
}

.col-two {
  width: 50%;
  justify-content: center;
  flex-direction: column;
}
.product-heading {
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 300;
  text-decoration: none;
}
.rating-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.product-by {
  font-size: 14px;
}
.product-by span {
  color: rgb(235, 77, 77);
}
.rating {
  width: 20px;
  height: 20px;
}
.rating-empty {
  width: 17px;
  height: 17px;
}
.product-price {
  font-family: Montserrat;
  font-size: 22px;
  margin-bottom: 20px;
}
.product-description {
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
}

.col-two p {
  width: 70%;
  font-family: Montserrat;
  letter-spacing: 1px;
}

.checkout-btn {
  width: 20%;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: var(--lightBlue);
  border-color: var(--darkBlue);
  border-radius: 12px;
  display: block;
  cursor: pointer;
  height: 7%;
  box-shadow: 0.2rem 0.3rem rgba(0, 0, 0, 0.788);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.checkout-btn:hover,
.buy-btn:focus,
.buy-btn:active {
  box-shadow: 0.2rem 0.3rem rgba(0, 0, 0, 0.788);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.checkout-btn span {
  justify-content: center;
  font-family: Montserrat;
  font-weight: bold;
  padding-left: 25px;
}

/*! ===HOME HERO SECTION===END== */
